body {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  font-family: sans-serif;
  background-color:rgb(250,250,250);
  color:rgb(25,25,25);
  background: rgb(231,237,241);
  font-family: 'Cantarell', sans-serif;
  overflow-x: hidden;
  width:100%;
}
html{
  position: relative;
  width:100%;
}
