.TweetBox
{
  position: relative;
  width:500px;
  background-color:white;
  margin:auto;
  margin-top:50px;
  border-radius: 5px;
  text-align: center;
  box-shadow:
    inset 0 7em 10em -5em rgba(255,255,255,0.3),
    0 0.3em 0.5em -0.2em rgba(150,150,100,0.1),
    0 1em 2em -0.75em rgba(150,150,150,0.1),
    0 1em 3em -0.5em rgba(150,150,150,0.1),
    0 3em 3em -0.25em rgba(150,150,150,0.1);
}
.TweetBoxText
{
  position: relative;
  margin: auto;
  margin-top:10px;
  width:94%;
  height:70px;
  font-size:0.8em;
  color:rgb(25,25,25);
  resize: none;
  border-radius: 3px;
  background-color: rgb(243,243,243);
  border: none;
  box-shadow: inset 5px 5px 10px 0px rgba(155,155,155,0.2);
  padding:5px;
}
.TweetBoxText:focus
{
  outline: none;
}
.TweetButton
{
  position: relative;
  margin-top:25px;
  margin-bottom: 25px;
  background-image: linear-gradient( 135deg, #43CBFF -50%, #9708CC 150%);
  border: none;
  color:white;
  width:80px;
  height:30px;
  font-size: 0.8em;
  border-radius: 5px;
  cursor: pointer;
}
.TweetButton:focus
{
  outline: none;
}
.counter
{
  position: relative;
  width:95%;
  text-align: right;
  margin:auto;
  margin-top:5px;
}
