.TweetContainers
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content:flex-start;
  width:calc(100% - 20px);
  padding:10px;
  height: auto;
}
